# Project exclude paths
/venv/py/

# ignore bytecode
__pycache__/

# ignore certs, password
secrets/

# ignore pycharm project settings
.idea

# ignore pickle file for time last scraped
*.p

# ignore pipfile, app engine doesnt like these
Pipfile*
